.image-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.image-cover {
    max-width: 235px;
    height: auto;
    cursor: pointer;
}

.image-title {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.menu {
    background-color: #f4f4f4;
    padding: 30px;
}

.menu h2 {
    margin-bottom: 10px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.content {
    padding: 20px;
    max-width: 800px;
}

.image-cover {
    transition: transform 0.3s ease;
}

.image-cover:hover {
    transform: scale(1.05);
}

.image-title {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.image-cover {
    position: relative;
}
